<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Workshop2</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<!--Nav Barre Dynamique-->

<nav style="background-color: #007bff; padding: 10px;">
  <ul style="display: flex; gap: 20px; list-style: none; margin: 0; padding: 0;">
    <li><a routerLink="/about" routerLinkActive="active" style="color: white; text-decoration: none;">About</a></li>
    <li><a routerLink="/actualites" routerLinkActive="active" style="color: white; text-decoration: none;">Actualités</a></li>
    <li><a routerLink="/avantages-clients" routerLinkActive="active" style="color: white; text-decoration: none;">Avantages Clients</a></li>
    <li><a routerLink="/blog" routerLinkActive="active" style="color: white; text-decoration: none;">Blog</a></li>
    <li><a routerLink="/bonplan" routerLinkActive="active" style="color: white; text-decoration: none;">Bon Plan</a></li>
    <li><a routerLink="/documents" routerLinkActive="active" style="color: white; text-decoration: none;">Documents</a></li>
    <li><a routerLink="/rapport" routerLinkActive="active" style="color: white; text-decoration: none;">Rapport</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>

<!--Nav Barre Dynamique-->


</body>
</html>
